
body
 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
     color: #777;
     background-color: white;
     font-size: 18px;    
 }

 /* Container Grid with 3 rows and 1 column */
 .container
{
    display:grid;
    padding:0px;
    grid-template-columns: 1fr;
    grid-template-rows:  100px auto 50px;
    height:100vh;
    width: 100vw;
}


/* Nav Bar using FlexBox */
.nav_row
{
    background-color: white;
    grid-area: 1/1/2/2;   
    border-bottom: 2px solid #cccccc;
    vertical-align: baseline;
    align-self: end;
}


nav
{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}


.logo_container
{
    order:1;
    width: 30vw;
    align-self: flex-end;
    text-align: center;
    margin-left:30px;
}


/* Name Tab */

.logo
{   
    background-color: teal;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 2em; 
    font-weight: 200;
    color:black;   
    padding:10px;

}

.menu
{
    order:2;
    width: 50vw;
    align-self:center;
    text-align: center;
}


.nav_links
{
    text-align: center;
    font-weight: 100;
    font-size: 1.2em;
    color: teal;
    margin-top:10px
}


.nav_items
{
    text-decoration: none;
}

a:link { color: teal }
a:visited { color: teal }
a:hover { color: black }
a:active { color: grey }


section
{
   background-image: url("../images/gravel.png");
    grid-area: 2/1/3/2;
}


.pic_holder 
{ 
    float:left;
    padding:5px;
} 


article
{
    background-color:white;
    margin: 0px auto;
    margin-top:75px;
    width:75%;
    padding:20px;
    border: 2px solid grey;
    margin-bottom:75px;
    overflow: auto;
    

}


p
{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:1em;
    line-height: 2;
}



h1.title{
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size:2em;
    font-weight: 300;
    color: teal;
    border-bottom: 2px solid teal;
    margin-bottom:15px;
}


/* Footer Styles */
footer
{  
border-top: 6px solid teal;
  background-color: #666666;
  grid-area: 3/1/4/2;
  align-items: center;
  padding: 10px;
}

.footer_text
{
font-size:15px;
color:black;
text-align: center;
}

.form_container
{
    margin:20px;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }


  .portfolio_box
  {
      display:flex;
      flex-direction:row;
      justify-content: space-evenly;
      flex-flow: row wrap;
    

  }

  .portfolio_item
  {
     flex:1;
     align-self: center;
     padding:10px;
  }


  .portfolio_title{
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size:1em;
    font-weight: 150;
    color: teal;
}

/* Width at 640px and below  */
@media only screen and (max-width: 640px) {


    /* Change Nav Row to Column for smaller screens */
    nav
    {
        display:flex;
        flex-direction: column;
        margin:0px;
        height:100px;
    }
      
    .logo_container
    {
        order:1;
        width: 100vw;
        text-align: center;
        align-self: center;
        margin-left:0px;
    }
    
    .logo
    {   
        background-color: teal;
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 1.8em; 
        font-weight: 200;
        color:black;   
        padding:5px;
    }
    
    .menu
    {
        order:2;
        width: 100vw;
        text-align: center;
        height:40px;
        align-self: center;
    }

    article
    {
        margin: 0px auto;
        margin-top:20px;
        width:90%;
        padding:20px;
        border: 2px solid grey;
        overflow: auto;  
        margin-bottom:20px;  
        text-align: left;
    }


    .nav_links
    {
        margin-top:0px;
    }


.portfolio_box
  {
      flex-direction:column;
      justify-content: center;
  }

  .portfolio_item
  {
     flex:1;
     align-self: center;
     padding:10px;
  }

}
/* End of Media Query 640px */  

